
DATABASE_URL=postgresql://postgres.lenkrprzftkxjreekdhx:V5EK4WPqZfANUKSD@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres:V5EK4WPqZfANUKSD@db.lenkrprzftkxjreekdhx.supabase.co:5432/postgres

NEXT_PUBLIC_SUPABASE_URL=https://lenkrprzftkxjreekdhx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxlbmtycHJ6ZnRreGpyZWVrZGh4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg1OTIyMTQsImV4cCI6MjEwNDE2ODIxNH0._XDxVKHuxtT-oq7s3NM78boyjTtbSgtgNgcVYDmS094
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_QrIptQCyU8P5wxSN7Eh7dg_LDoxgikE

